<div class="container">


  <div class="img">

    <img class="img-fluid" src="/assets/Icon.png" alt="Password Icon" style="width: 200px;">
  </div>

  <h1 class="text-center">Login Here !!</h1>

  <form (ngSubmit)="onsubmit()">

    <mat-form-field appearance="fill" class="field" appearance="outline">
      <mat-label>Enter UserName</mat-label>
      <input [(ngModel)]="credentials.userName"
       required matInput name="userName" type="text">
    </mat-form-field>

    <mat-form-field appearance="fill" class="field" appearance="outline">
      <mat-label>Enter Password</mat-label>
      <input
      [(ngModel)]="credentials.password"
      required matInput name="password" type="password">

    </mat-form-field>

    <div class="text-center">
      <button mat-raised-button color="accent" type="submit" class="login">Login</button>
      <button mat-raised-button color="primary" type="reset" class="reset">Reset</button>
    </div>


  </form>


  {{credentials|json}}
</div>
